<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ambulance Tracker</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRVfCsao2zcuokx_WzInt2Pr08SXsTbbg&libraries=places"></script>
  </head>
  <body onload="initMap()">
    <%- include('navbar') -%>

    <div class="heading" style="margin-top: 4%">
      <span>CHECK YOUR STATUS HERE,</span>
    </div>
    <div id="line"></div>
    <div id="track-status">
      <% if(ambuTrack=="Booking Confirmed"){ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item">Approved By Hospital</div>
      <div class="status-item">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>
      <div class="status-item">Driver is in the way</div>
      <div class="status-item">Reached To Hospital</div>

      <% }else if(ambuTrack=="approved by hospital"){ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item green">Approved By Hospital</div>
      <div class="status-item">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>
      <div class="status-item">Driver is in the way</div>
      <div class="status-item">Reached To Hospital</div>

      <% }else if(ambuTrack=="ambulance assigned"){ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item green">Approved By Hospital</div>
      <div class="status-item green">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>

      <div class="status-item green">Driver is in the way</div>
      <div class="status-item">Reached To Hospital</div>

      <% }else{ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item green">Approved By Hospital</div>
      <div class="status-item green">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>

      <div class="status-item green">Driver is in the way</div>
      <div class="status-item green">Reached To Hospital</div>
      <% } %>

      <button
        onclick="location.reload()"
        id="status-button"
        style="margin-top: 4%"
      >
        CHECK UPDATES
      </button>
    </div>

    <div style="position: absolute; top: 30%; left: 50%">
      <img src="ambulance.svg" height="350px" width="450px" />
    </div>

    <div id="map" style="height: 500px; width: 100%"></div>

    <%- include('footer') -%>
  </body>
  <script>
    let map, directionService, directionRenderer;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 26.7606, lng: 83.3732 }, // Default center
        zoom: 13,
      });
      directionService = new google.maps.DirectionsService();
      directionRenderer = new google.maps.DirectionsRenderer({
        map: map,
      });

      // Automatically set the source to user's current location and destination to hospital
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position) {
            const userPosition = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            const hospitalPosition = "<%= hospitalAddress %>"; // From your server-side EJS data

            calculateAndDisplayRoute(userPosition, hospitalPosition);
          },
          function () {
            handleLocationError(true, map.getCenter());
          }
        );
      } else {
        handleLocationError(false, map.getCenter());
      }
    }

    function calculateAndDisplayRoute(userPosition, hospitalPosition) {
      directionService.route(
        {
          origin: userPosition,
          destination: hospitalPosition,
          travelMode: google.maps.TravelMode.DRIVING,
        },
        function (response, status) {
          if (status === "OK") {
            directionRenderer.setDirections(response);
          } else {
            window.alert("Directions request failed due to " + status);
          }
        }
      );
    }

    function handleLocationError(browserHasGeolocation) {
      console.error(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
    }
  </script>
  <script>
    function showNav() {
      document.getElementById("barNav").style.display = "block";
      document.getElementById("bar").setAttribute("onclick", "hideNav()");
    }
    function hideNav() {
      document.getElementById("barNav").style.display = "none";
      document.getElementById("bar").setAttribute("onclick", "showNav()");
    }
  </script>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ambulance Tracker</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRVfCsao2zcuokx_WzInt2Pr08SXsTbbg&libraries=places"></script>
  </head>
  <body onload="initMap()">
    <div id="navbar">
      <div id="bar" onclick="showNav()">
        <img src="bar1.png" height="50px" width="55px" />
      </div>
      <div id="logo">
        <div id="logoImg"><img src="/logo.png" /></div>
        <div id="logoName">MediTrack</div>
      </div>
      <div id="navItem">
        <div class="item" onclick="location.href='/'">Home</div>
        <div class="item" onclick="location.href='/service'">Services</div>
        <div class="item" onclick="location.href='/features'">Features</div>
        <div class="item" onclick="location.href='/aboutUs'">AboutUs</div>
        <div class="item" onclick="location.href='/contactus'">ContactUs</div>
      </div>
      <div id="navButton">
        <button type="submit" onclick="location.href='/book'">Book Now</button>
      </div>
    </div>

    <div class="heading" style="margin-top: 4%">
      <span>CHECK YOUR STATUS HERE,</span>
    </div>
    <div id="line"></div>
    <div id="track-status">
      <% if(ambuTrack=="Booking Confirmed"){ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item">Approved By Hospital</div>
      <div class="status-item">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>
      <div class="status-item">Driver is in the way</div>
      <div class="status-item">Reached To Hospital</div>

      <% }else if(ambuTrack=="approved by hospital"){ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item green">Approved By Hospital</div>
      <div class="status-item">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>
      <div class="status-item">Driver is in the way</div>
      <div class="status-item">Reached To Hospital</div>

      <% }else if(ambuTrack=="ambulance assigned"){ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item green">Approved By Hospital</div>
      <div class="status-item green">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>

      <div class="status-item green">Driver is in the way</div>
      <div class="status-item">Reached To Hospital</div>

      <% }else{ %>
      <div class="status-item green">Booking Confirmed</div>
      <div class="status-item green">Approved By Hospital</div>
      <div class="status-item green">
        Ambulance Assigned
        <div class="driver-value">Driver Name:- <%= driverName %></div>
        <div class="driver-value">Driver Id:- <%= driverId %></div>
        <div class="driver-value">Driver Number:- <%= driverNum %></div>
      </div>

      <div class="status-item green">Driver is in the way</div>
      <div class="status-item green">Reached To Hospital</div>
      <% } %>

      <button
        onclick="location.reload()"
        id="status-button"
        style="margin-top: 4%"
      >
        CHECK UPDATES
      </button>
    </div>

    <div style="position: absolute; top: 30%; left: 50%">
      <img src="ambulance.svg" height="350px" width="450px" />
    </div>

    <h1 class="text-center">Direction Route Finder</h1>
    <br />
    <br />
    <div class="container">
      <div class="form-group">
        <input
          type="text"
          id="source"
          class="form-control"
          placeholder="Source Location"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="dest"
          class="form-control"
          placeholder="Destination Location"
        />
      </div>

      <button class="btn btn-primary" onclick="calcRoute()">
        Get Directions
      </button>
      <button class="btn btn-success" onclick="startTracking()">
        Start Tracking
      </button>

      <div id="map" style="height: 500px; width: 100%"></div>
    </div>
    <div id="contact-box">
      <div id="contact-heading">Contact Us</div>
      <div id="contact-detail">
        <form action="/message" method="post">
          <input
            type="text"
            placeholder="FULL Name"
            name="name"
            required
          /><br />
          <input type="email" placeholder="Email" name="email" required /><br />
          <textarea placeholder="Message" name="msg" required></textarea><br />
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
    <div id="footer">
      <div id="footer-text">
        Copyright <i class="fa-regular fa-copyright"></i> MediTrack.All rights
        reserved.
      </div>
      <div id="footer-icon">
        Follow us on
        <a href="https://www.linkedin.com/in/amit-bhardwaj-a46519200/">
          <i class="fa-brands fa-twitter" style="cursor: pointer"></i>
          <i class="fa-brands fa-linkedin" style="cursor: pointer"></i
        ></a>
      </div>
    </div>
  </body>
  <script>
    let map, directionService, directionRenderer;
    let sourceAutocomplete, destinationAutocomplete;
    let vehicleMarker = null; // Marker for the vehicle
    let watchID; // ID of the navigator.geolocation.watchPosition

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 26.7606, lng: 83.3732 },
        zoom: 13,
      });
      directionService = new google.maps.DirectionsService();
      directionRenderer = new google.maps.DirectionsRenderer();
      directionRenderer.setMap(map);

      sourceAutocomplete = new google.maps.places.Autocomplete(
        document.getElementById("source")
      );
      destinationAutocomplete = new google.maps.places.Autocomplete(
        document.getElementById("dest")
      );
    }

    function startTracking() {
      if (navigator.geolocation) {
        watchID = navigator.geolocation.watchPosition(
          function (position) {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            if (!vehicleMarker) {
              vehicleMarker = new google.maps.Marker({
                position: pos,
                map: map,
                title: "Vehicle Location",
              });
            } else {
              vehicleMarker.setPosition(pos);
            }
            map.setCenter(pos);
          },
          function () {
            handleLocationError(true);
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false);
      }
    }

    function handleLocationError(browserHasGeolocation) {
      console.error(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
    }

    function calcRoute() {
      var source = document.getElementById("source").value;
      var dest = document.getElementById("dest").value;
      var request = {
        origin: source,
        destination: dest,
        travelMode: google.maps.TravelMode.DRIVING,
      };
      directionService.route(request, function (result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionRenderer.setDirections(result);
        } else {
          console.error("Failed to get directions: " + status);
        }
      });
    }
  </script>
  <script>
    function showNav() {
      document.getElementById("barNav").style.display = "block";
      document.getElementById("bar").setAttribute("onclick", "hideNav()");
    }
    function hideNav() {
      document.getElementById("barNav").style.display = "none";
      document.getElementById("bar").setAttribute("onclick", "showNav()");
    }
  </script>
</html> -->
